@import 'src/styles.scss';

.bg-premium {
  background-color: $primary-color;
}

.text-premium {
  color: $primary-color;
}


.buscador {
  input {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .buscador input {
    width: 350px;
  }
}