.div-logo-champagne{
    img{
        max-width: 500px;
    }
    p{
        color: #fff; 
        text-shadow: 0 2px 8px #000;
    }
}

// seccion de descubre la nueva coleccion
.seccion-descubre {

}