<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active position-relative">
      <img src="assets/carrusel-home/1.png" class="d-block w-100" alt="Champagne VE. Tienda de accesorios en Puerto Ordaz, Estado Bolivar, Venezuela.">
      <div class="position-absolute top-0 start-0 w-100 h-100" style="background: rgba(0,0,0,0.45);"></div>
      <div class="carousel-caption d-none d-md-block position-absolute w-100 bottom-0 start-50 translate-middle-x text-center div-logo-champagne mb-5" style="z-index:2;">
        <img src="assets/logo-champagne.png" alt="Logo de champagne VE. Tienda de accesorios en Puerto Ordaz, Estado Bolivar, Venezuela.">
        <p class="pt-2">
            Te ayudamos a brillar, porque todos juntos somos Champagne, el lugar donde los sueños se hacen realidad
        </p>
      </div>
    </div>
    <div class="carousel-item position-relative">
      <img src="assets/carrusel-home/2.png" class="d-block w-100" alt="Champgane pzo. Tienda de accesorios, zacillos, cadenas, anillos.">
      <div class="position-absolute top-0 start-0 w-100 h-100" style="background: rgba(0,0,0,0.45);"></div>
     <div class="carousel-caption d-none d-md-block position-absolute w-100 bottom-0 start-50 translate-middle-x text-center div-logo-champagne  mb-5" style="z-index:2;">
         <img src="assets/logo-champagne.png" alt="Logo de champagne VE. Tienda de accesorios en Puerto Ordaz, Estado Bolivar, Venezuela.">
        <p class="pt-2">
             Te ayudamos a brillar, porque todos juntos somos Champagne, el lugar donde los sueños se hacen realidad
        </p>
      </div>
    </div>
    <div class="carousel-item position-relative">
      <img src="assets/carrusel-home/1.png" class="d-block w-100" alt="Accesorios para mujer y hombres. Envios a todo el pais. Champagne PZO">
      <div class="position-absolute top-0 start-0 w-100 h-100" style="background: rgba(0,0,0,0.45);"></div>
      <div class="carousel-caption d-none d-md-block position-absolute w-100 bottom-0 start-50 translate-middle-x text-center div-logo-champagne  mb-5" style="z-index:2;">
         <img src="assets/logo-champagne.png" alt="Logo de champagne VE. Tienda de accesorios en Puerto Ordaz, Estado Bolivar, Venezuela.">
        <p class="pt-2">
             Te ayudamos a brillar, porque todos juntos somos Champagne, el lugar donde los sueños se hacen realidad
        </p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Descubre lo nuevo -->

<section class="seccion-descubre mt-5">
    <div class="seccion-descubre-content">
         <h2 class=" mb-4">Descubre lo nuevo en <span>Champagne </span></h2>
         <p>¿Buscas un regalo original y especial? Sorprende a esa persona única con un accesorio personalizado. Desde pulseras con nombres hasta collares con fechas importantes, tenemos el regalo perfecto para cualquier ocasión. ¡Haz que cada momento sea inolvidable!</p>
         <button class="btn btn-premium mt-3">Ver más</button>
     </div>
</section>


<!-- Champagne accesorios, queienes somos -->
 <!-- <hr class="w-100 w-lg-50 mb-4 " /> -->

 <div class="mt-5 mb-5">
<div class="container m-auto d-flex flex-column flex-lg-row gap-3 justify-content-between">

 <!-- cont1 -->
  <div class="col-12 col-lg-6 d-flex flex-column justify-content-center quienes-somos_texto" style="height:100%;">
    <h2>CHAMPAGNE ACCESORIOS</h2>
    <h4>¿Quienes somos?</h4>
    <div class="mt-5">
      <p>
        Contamos con experiencia y conocemos a la perfección tus necesidades, por lo que nuestras prendas son confeccionadas en Acero inoxidable y recubiertas en Goldfiled.
      </p>
      <p>
        ¿Tienes un estilo único y quieres que tus accesorios lo reflejen? En Champagne, te ofrecemos la oportunidad de crear piezas únicas que expresen tu personalidad. ¡Combina diferentes materiales, colores y formas para crear accesorios que nadie más tendrá!
      </p>
    </div>
  </div>

  <!-- cont2, imagen -->
   <div class="quienes-somos_imagen col-12 col-lg-6 d-flex justify-content-end">
    <img src="assets/inicio-champagne.webp" alt="Champagne ofrece accesorios unicos y originales, hechos a mano con amor y dedicación.">  
  </div>

</div>
</div>