@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// VARIABLES - PALETA
$primary-color: #6D6A4F;
$secondary-color: #F2E9E4;
$accent-color: #813D3D;
$blanco: #FFF;

body, html {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
